#Track popularity Prediction

In [1]:
import pandas as pd

In [4]:
# load data
df = pd.read_csv('../data/spotify2025.csv')

In [5]:
df.head()

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1,Female,54,CA,Free,26,23,0.20,Desktop,31,0,1
1,2,Other,33,DE,Family,141,62,0.34,Web,0,1,0
2,3,Male,38,AU,Premium,199,38,0.04,Mobile,0,1,1
3,4,Female,22,CA,Student,36,2,0.31,Mobile,0,1,0
4,5,Other,29,US,Family,250,57,0.36,Mobile,0,1,1

In [11]:
print(df.dtypes)

df = df.astype({
    "user_id": "string",
    "gender": "category",
    "country": "category",
    "subscription_type": "category",
    "device_type": "category",
    "offline_listening": "bool",
    "is_churned": "bool"
})

user_id                    int64
gender                    object
age                        int64
country                   object
subscription_type         object
listening_time             int64
songs_played_per_day       int64
skip_rate                float64
device_type               object
ads_listened_per_week      int64
offline_listening          int64
is_churned                 int64
dtype: object

In [6]:
df.shape

(8000, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                8000 non-null   int64
 1   gender                 8000 non-null   object
 2   age                    8000 non-null   int64
 3   country                8000 non-null   object
 4   subscription_type      8000 non-null   object
 5   listening_time         8000 non-null   int64
 6   songs_played_per_day   8000 non-null   int64
 7   skip_rate              8000 non-null   float64
 8   device_type            8000 non-null   object
 9   ads_listened_per_week  8000 non-null   int64
 10  offline_listening      8000 non-null   int64
 11  is_churned             8000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 750.1+ KB

In [10]:
df.describe().round(3).T

,count,mean,std,min,25%,50%,75%,max
user_id,8000.0,4000.500,2309.545,1.0,2000.75,4000.5,6000.25,8000.0
age,8000.0,37.662,12.740,16.0,26.00,38.0,49.00,59.0
listening_time,8000.0,154.068,84.016,10.0,81.00,154.0,227.00,299.0
songs_played_per_day,8000.0,50.127,28.450,1.0,25.00,50.0,75.00,99.0
skip_rate,8000.0,0.300,0.174,0.0,0.15,0.3,0.45,0.6
ads_listened_per_week,8000.0,6.944,13.618,0.0,0.00,0.0,5.00,49.0
offline_listening,8000.0,0.748,0.434,0.0,0.00,1.0,1.00,1.0
is_churned,8000.0,0.259,0.438,0.0,0.00,0.0,1.00,1.0

In [9]:
df.isna().sum()

user_id                  0
gender                   0
age                      0
country                  0
subscription_type        0
listening_time           0
songs_played_per_day     0
skip_rate                0
device_type              0
ads_listened_per_week    0
offline_listening        0
is_churned               0
dtype: int64